<ion-view view-title="Giảng viên">
  	<ion-content padding="true">
    	<ion-list>
    		<ion-item>
      			<button class="button button-block button-calm" ng-click="dangky()">Xủ lý các yêu cầu</button>
      		</ion-item>
    		<ion-item>
      			<button class="button button-block button-calm" ng-click="dangky()">Đăng ký lịch</button>
      		</ion-item>
       		<ion-item>
      			<button class="button button-block button-calm" ng-click="xemlich()">Xem lịch thực hành</button>
      		</ion-item>
      		<ion-item ng-repeat="role in mydata">
      			{{role}}
      		</ion-item>
    	</ion-list>
  	</ion-content>
</ion-view>