<ion-view view-title="Đăng ký lịch">
    <ion-content >
        <table class="table">
            <tr>
                <td width="25%">
                    <label>Môn học</label>
                </td>
                <td>
                    <select class="form-control" ng-model="data.idMH">
                        <option value="">--Chọn môn học--</option>
                        <option value="1">Hệ cơ sở dữ liệu</option>
                        <option value="2">Hệ quản trị cơ sở dữ liệu</option>
                        <option value="3">Hệ điều hành</option>
                        <option value="4">Lập trình Web</option>
                        <option value="5">Kỹ thuật đồ hoạ - CNTT</option>
                        <option value="6">Trí tuệ nhân tạo</option>                     
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Nhóm</label>
                </td>
                <td>
                    <input class="form-control" type="text" required ng-model="data.nhom" style="border: solid 1px #ccc; text-align: center;">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Tuần</label>
                </td>
                <td>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[1]" value="1">01</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[2]" value="2">02</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[3]" value="3">03</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[4]" value="4">04</label><br>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[5]" value="5">05</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[6]" value="6">06</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[7]" value="7">07</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[8]" value="8">08</label><br>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[9]" value="9">09</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[10]" value="10">10</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[11]" value="11">11</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[12]" value="12">12</label><br>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[13]" value="13">13</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[14]" value="14">14</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[15]" value="15">15</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[16]" value="16">16</label><br>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[17]" value="17">17</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[18]" value="18">18</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[19]" value="19">19</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idTuan" ng-model="data.idTuan[20]" value="20">20</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Thứ</label>
                </td>
                <td>
                    <label class="checkbox-inline"><input type="checkbox" name="idThu" ng-model="data.idThu[2]" value="2">T2</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idThu" ng-model="data.idThu[3]" value="3">T3</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idThu" ng-model="data.idThu[4]" value="4">T4</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idThu" ng-model="data.idThu[5]" value="5">T5</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idThu" ng-model="data.idThu[6]" value="6">T6</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idThu" ng-model="data.idThu[7]" value="7">T7</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idThu" ng-model="data.idThu[8]" value="8">CN</
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Buổi</label>
                </td>
                <td>
                    <label class="checkbox-inline"><input type="checkbox" name="idBuoi" ng-model="data.idBuoi[1]" value="1">Sáng</label>
                    <label class="checkbox-inline"><input type="checkbox" name="idBuoi" ng-model="data.idBuoi[2]" value="2">Chiều</label>
                </td>
            </tr>
        </table>
        <ion-item>
            <button class="button button-block button-calm" ng-click="dangkylich()">Đăng ký</button>
        </ion-item>
    </ion-content>
    <style type="text/css">
        label.checkbox-inline {
            margin-left: 10px;
        }
    </style>
</ion-view>

