<ion-view view-title="Điều chỉnh lịch">
  	<ion-content padding="true" ng-controller="LoginCtrl">
    	<table class="table table-bordered">
    		
    		<thead>
    			<th>Mô tả lịch</th>
    			<th>Phòng</th>
    			<th>Hành động</th>
    		</thead>
    		<tbody>
    			<tr>
    				<td>CT106-T1-Th2-S</td>
    				<td>P02</td>
    				<td>
    					<button class="btn btn-info btn-xs">Đổi phòng</button>
    					<button class="btn btn-warning btn-xs">Thu hồi</button>
    					<button class="btn btn-danger btn-xs">Xóa</button>
    				</td>
    			</tr>
    			<tr>
    				<td>CT106-T1-Th3-C</td>
    				<td>P01</td>
    				<td>
    					<button class="btn btn-info btn-xs">Đổi phòng</button>
    					<button class="btn btn-warning btn-xs">Thu hồi</button>
    					<button class="btn btn-danger btn-xs">Xóa</button>
    				</td>
    			</tr>
    			<tr>
    				<td>CT106-T1-Th5-C</td>
    				<td>THUD-P01</td>
    				<td>
    					<button class="btn btn-info btn-xs">Đổi phòng</button>
    					<button class="btn btn-warning btn-xs">Thu hồi</button>
    					<button class="btn btn-danger btn-xs">Xóa</button>
    				</td>
    			</tr>
    		</tbody>
    	</table>
  	</ion-content>
  	<style type="text/css">
		th,td
		{
			text-align: center;
		}
	</style>
</ion-view>