
<ion-view cache-view="false" view-title="Xử lý lịch chờ">
  	<ion-content padding="true" ng-controller="LoginCtrl">
    	<table class="table table-bordered">
    		<thead>
    			<th colspan="2">
    				<label>Yêu cầu từ bộ môn</label>
				</th>
    		</thead>
    		<thead>
    			<th>Mô tả lịch</th>
    			<th>Hành động</th>
    		</thead>
    		<tbody id="lichCDBM">
                <tr ng-repeat="lich in lichs" id="idLCD{{lich.id}}">
                    <td>{{lich.idMonHoc}}-{{lich.idTuan}}-{{lich.idThu}}-{{lich.idBuoi}}</td>
                    <td>
                        <button class="btn btn-info btn-xs" ng-click="xepphong(lich.id)">Xếp phòng</button>
                        <button class="btn btn-warning btn-xs" ng-click="tuchoi(lich.id)">Từ chối</button>
                    </td>
                </tr>
    		</tbody>
    	</table>

    	<table class="table table-bordered">
    		<thead>
    			<th colspan="3">
    				<label>Yêu cầu ngoài bộ môn</label>
				</th>
    		</thead>
    		<thead>
    			<th>Bộ môn</th>
    			<th>Mô tả lịch</th>
    			<th>Hành động</th>
    		</thead>
    		<tbody>
    			<tr ng-repeat="lich in lichBMKs" id="idLCDK{{lich.id}}">
    				<td>KHMT</td>
    				<td>{{lich.idMonHoc}}-{{lich.idTuan}}-{{lich.idThu}}-{{lich.idBuoi}}</td>
    				<td>
                        <button class="btn btn-info btn-xs" ng-click="xepphong(lich.id)">Xếp phòng</button>
                        <button class="btn btn-warning btn-xs" ng-click="trave(lich.id)">Trả về BM</button>
                    </td>
    			</tr>   			
    			
    		</tbody>
    	</table>
  	</ion-content>
  	<style type="text/css">
	th,td{
		text-align: center;
	}
	</style>
</ion-view>

