<ion-view cache-view="false" view-title="Các chức năng">
    <ion-content padding="true">
        <ion-list>
            <ion-item class="normal">
                <button class="button button-block button-calm" ng-click="dangky()">Đăng ký lịch</button>
            </ion-item>
            <ion-item class="normal">
                <button class="button button-block button-calm" ng-click="xemlich()">Xem lịch thực hành</button>
            </ion-item>
            <ion-item class="manager hidden">
                <button class="button button-block button-calm " ng-click="xuly()">Xủ lý các yêu cầu</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>