<ion-view cache-view="false" view-title="Lịch thực chi tiết">  <!-- XemLichChitietCtrl -->
  	<ion-content >
  		<table class="table table-bordered lich-sang">
  		    <thead>
                <th colspan="2">Buổi sáng</th>
            </thead>
            <tbody>
                <tr>
                    <th width="40%">Thứ 2</th>
                    <td id="21">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 3</th>
                    <td id="31">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 4</th>
                    <td id="41">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 5</th>
                    <td id="51">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 6</th>
                    <td id="61">
                       
                    </td>
                </tr>
                <tr>
                    <th>Thứ 7</th>
                    <td id="71">
                        
                    </td>
                </tr>
                <tr>
                    <th>Chủ nhật</th>
                    <td id="81">
                       
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered lich-chieu">
            <thead>
                <th colspan="2">Buổi chiều</th>
            </thead>
            <tbody>
                <tr>
                    <th width="40%">Thứ 2</th>
                    <td id="22">
                                           
                    </td>
                </tr>
                <tr>
                    <th>Thứ 3</th>
                    <td id="32">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 4</th>
                    <td id="42">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 5</th>
                    <td id="52">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 6</th>
                    <td id="62">
                        
                    </td>
                </tr>
                <tr>
                    <th>Thứ 7</th>
                    <td id="72">
                        
                    </td>
                </tr>
                <tr>
                    <th>Chủ nhật</th>
                    <td id="82">
                        
                    </td>
                </tr>
            </tbody>
        </table>
		
  	</ion-content>
    <style type="text/css">
        th, td
        {
            text-align: center;
        }

        .lich-sang
        {
            background-color: #e6f3ff;
        }

        .lich-chieu
        {
            background-color: #ffffe6;
        }
    </style>
</ion-view>

