button{
	height: 40px;
}

.hang1{
	height: 150px;
	width: 33%;
	margin-top: 10px;
}

.btn1 {





  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 20px;
  border-radius: 0.25rem;
}

.btn1-primary {
  color: #fff;
  background-color: #3385ff;
  border-color: #0275d8;
}

.btn1-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

