<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta th:include="fragments/standard :: appHead" th:remove="tag"/>
    <link th:href="@{/css/customize.css}" rel="stylesheet" />
  </head>

  <body id="page-top" class="sidebar-toggled">

    <nav th:replace="fragments/standard :: appNav"></nav>
    
    <div id="wrapper">

      <ul th:replace="fragments/standard :: appSidebar"></ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb d-none d-sm-flex">
            <li class="breadcrumb-item">
              <a href="#">HTQL Phòng thực hành</a>
            </li>
            <li class="breadcrumb-item">Danh mục</li>
            <li class="breadcrumb-item active">Phần mềm</li>
          </ol>

          <div class="card mb-3">
            <div class="card-header">
              <i class="far fa-edit"></i>
              Cập nhật phần mềm
            </div>
            <div class="card-body">
              <div class="container">
		        <form id="formTool" class="form-horizontal" th:object="${tool}" th:action="@{/admin/category/tools}" method="post">
		            <div class="form-group">
		                <div class="col-sm-10">
		                    <input type="hidden" class="form-control" th:field="*{id}"/>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-sm-2 control-label">Tên phần mềm:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{name}" />
		                </div>
		            </div>		
		        </form>
		    </div>
            </div>
            <div class="card-footer small text-muted">
            	<div id="form-control-box" class="float-right">
            		<a th:href="@{/admin/category/tools}" class="btn btn-sm btn-secondary">Hủy</a>
            		<button type="submit" id="submitForm" class="btn btn-sm btn-primary">Lưu</button>
            	</div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer th:replace="fragments/standard :: appFooter"></footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragments/standard :: appLogoutModal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    
    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    
    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin.min.js}"></script>
    <script>
	    $(document).ready(function() {    	
	      $("#submitForm").click(function() {
	            $("#formTool").submit();
	      });  
	    });
    </script>
  </body>

</html>
