<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta th:include="fragments/standard :: appHead" th:remove="tag"/>
    <link th:href="@{/css/customize.css}" rel="stylesheet" />
  </head>

  <body id="page-top" class="sidebar-toggled">

    <nav th:replace="fragments/standard :: appNav"></nav>
    
    <div id="wrapper">

      <ul th:replace="fragments/standard :: appSidebar"></ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb d-none d-sm-flex">
            <li class="breadcrumb-item"><a th:href="${'/admin'}">HTQL Phòng thực hành</a></li>
            <li class="breadcrumb-item active">Đặt phòng</li>
          </ol>
		  
          <div class="card mb-3">
            <div class="card-header">
              <i class="far fa-edit"></i>
              Tạo yêu cầu đặt phòng
            </div>
            <div class="card-body">
              <div class="container" th:if="${existAvailablePeriod}">
		        <form id="formRequest" class="form-horizontal" th:object="${requestForm}" th:action="@{/admin/create_request}" method="post">
		            <div class="form-group">
		                <div class="col-sm-10">
		                    <input type="hidden" class="form-control" th:field="*{id}"/>
		                </div>
		            </div>
		            <div class="form-group row">
					    <label class="col-sm-2 control-label">Học kỳ đang mở:</label>
					    <div class="col-sm-10">
						    <input type="text" class="form-control form-control-sm" th:value="${'HK ' + availablePeriod.semester.labelAsNumber + ' năm học ' + availablePeriod.startYear + ' - ' + availablePeriod.endYear}" readonly="readonly"/>
					    </div>
					</div>
		            <div class="form-group row">
					    <label for="course-selection" class="col-sm-2 control-label">Lớp học phần:</label>
					    <div class="col-sm-10">
						    <select class="form-control" id="course-selection" th:field="*{course}" required>
						      <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.subject.name + ' ' + course.courseId}"></option>
						    </select>
					    </div>
					</div>
					<div class="form-group row">
						<label for="tool-selection" class="col-sm-2 control-label">Phần mềm cần thiết:</label>
				      	<div class="col-sm-10">
					      	<select multiple class="form-control" id="tool-selection" th:field="*{tools}">
						        <option th:each="tool : ${tools}" th:value="${tool.id}" th:text="${tool.name}"></option>
					      	</select>
				      	</div>
					</div>
					<div class="form-group row">
		                <label class="col-sm-2 control-label">Ghi chú:</label>
		                <div class="col-sm-10">
		                	<textarea class="form-control" th:field="*{note}" rows="2" cols="30"></textarea>
		                </div>
		            </div>
					<div class="table-responsive">
						<table class="table table-sm table-bordered table-hover" id="times-list-table" width="100%" cellspacing="0">
		                  <thead>
		                    <tr>
		                      <th>Stt</th>
		                      <th>Tuần</th>
		                      <th>Ngày</th>
		                      <th>Buổi</th>
		                      <th>
			                    <button type="submit" name="addRow" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></button>
			                  </th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                  	<tr th:each="time,timeStat : *{times}">
			                  <td th:text="${timeStat.count}">1</td>
			                  <td>
			                    <select class="form-control form-control-sm" th:field="*{times[__${timeStat.index}__].wop}" th:attr="time-index=${timeStat.index}" required>
			                      <option th:value="${null}">Chọn tuần</option>
			                      <option th:each="wop : ${wops}" th:value="${wop.id}" th:text="${'Tuần ' + wop.numOrder + ' (' + wop.startDate + ' - ' + wop.endDate + ')'}" th:attr="date-max=${wop.endDate}, date-min=${wop.startDate}"></option>
			                    </select>
			                  </td>
			                  <td>
			                    <input type="date" class="form-control form-control-sm" th:field="*{times[__${timeStat.index}__].start}" required/>
			                  </td>
			                  <td>
		                	  	<select class="form-control form-control-sm" th:field="*{times[__${timeStat.index}__].shift}" required>
							      <option th:each="shift : ${shifts}" th:value="${shift.id}" th:text="${shift.name}"></option>
							    </select>
		                	  </td>
			                  <td>
			                    <button type="submit" formnovalidate="formnovalidate" class="btn btn-sm btn-secondary" name="removeRow" th:value="${timeStat.index}" th:if="${timeStat.index != 0}"><i class="fas fa-trash-alt"></i></button>
			                  </td>
			                </tr>
		                  </tbody>
		                </table>
		            </div>
					
		            <input type="submit" id="formRequestTrigger" name="saveRequest" style="display:none;"/>	
		        </form>
		    </div>
              <div th:if="${!existAvailablePeriod}" style="text-align: center;">
              	<p class="lead">Học kỳ gần nhất chưa được tạo. Liên hệ quản trị tạo học kỳ.</p>
              </div>
            </div>
            <div class="card-footer small text-muted">
            	<div id="form-control-box" class="float-right">
            		<button type="submit" id="submitForm" class="btn btn-sm btn-primary" th:if="${existAvailablePeriod}">Lưu lại</button>
            	</div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer th:replace="fragments/standard :: appFooter"></footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragments/standard :: appLogoutModal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/lm-additional-methods.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/localization/messages_vi.js}"></script>
    
    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    
    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin.min.js}"></script>
    <script>
	    $(document).ready(function() {    	
	    	$("#submitForm").click(function() {
				$("#formRequestTrigger").click();
			});

			$('#formRequest').validate({
				onkeyup: false,
				errorElement : "div",
				errorPlacement : function(error, element) {
					error.addClass('invalid-feedback')
					error.insertAfter(element);
				},
				highlight : function(element, errorClass) {
					$(element).addClass('is-invalid');
				},
				unhighlight : function(element, errorClass) {
					$(element).removeClass('is-invalid');
				}
			});
			
			$("select[id^='times'][id$='wop']").on('change',  function() {
				var index = $(this).attr("time-index");
				var max = $(this).children(":selected").attr("date-max");
				var min = $(this).children(":selected").attr("date-min");
				$("input[id='times" + index + ".start']").attr("max", max);
				$("input[id='times" + index + ".start']").attr("min", min)
			});
			
			$("#course-selection").on('change',  function() {
				var id = $(this).val();
				$.ajax({
	                url: '/api/courses/getTools',
	                dataType: 'json',
	                data: {
	                    courseId: id
	                },
	                success: function (tools) {
	                	toolIds = tools.map(function (obj) {
	                		return obj.id;
	                	});
	                	$('#tool-selection').val(toolIds);
	                }
	            });
			});
	    });
    </script>
  </body>

</html>
