<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="vi" th:fragment="appHead">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>HTQL Phòng thực hành</title>
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/sb-admin.min.css}" rel="stylesheet" />
</head>
<body id="page-top">
	<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" th:fragment="appNav">
		<a class="navbar-brand mr-1 d-none d-sm-block" th:href="@{/admin}">&nbsp;&nbsp;HTQL PHÒNG THỰC HÀNH</a>
		<a class="navbar-brand ml-2 d-block d-sm-none" th:href="@{/admin}">HTQL PHÒNG THỰC HÀNH</a>
		<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>



		<!-- Navbar -->
		<ul class="navbar-nav ml-auto ml-auto mr-0 mr-md-3">
			<li class="nav-item dropdown no-arrow">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user-circle fa-fw"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">Thông tin cá nhân</a>
					<a class="dropdown-item" href="#">Lịch sử báo cáo sự cố</a>
					<a class="dropdown-item" href="#">Lịch sử đặt phòng</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Đăng xuất</a>
				</div>
			</li>
		</ul>
	</nav>

	<div id="wrapper">
		<!-- Sidebar -->
		<ul class="sidebar navbar-nav toggled" th:fragment="appSidebar">
			<li class="nav-item">
	          <a class="nav-link" th:href="@{/create_request}">
	            <i class="fab fa-wpforms"></i>
	            <span>Đặt phòng</span></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/create_issue}">
	            <i class="fas fa-exclamation-triangle"></i>
	            <span>Báo hỏng</span></a>
	        </li>
	        <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="listDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-play"></i>
					<span>Xử lý</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="listDropdown">
					<a class="dropdown-item" th:href="@{/bookrequests}">
						<i class="fas fa-spinner"></i> Yêu cầu đặt phòng
					</a>
					<a class="dropdown-item" th:href="@{/issues}">
						<i class="fas fa-spinner"></i> Báo cáo hư hỏng
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="saveDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-folder"></i>
					<span>Lưu trữ</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="saveDropdown">
					<a class="dropdown-item" th:href="@{/bookrequests}">
						<i class="far fa-save"></i> Lịch sử đặt phòng
					</a>
					<a class="dropdown-item" th:href="@{/issues}">
						<i class="far fa-save"></i> Lịch sử báo cáo
					</a>
				</div>
			</li>
			
			<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_SYS_ADMIN')">
				<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-folder"></i>
					<span>Danh mục</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="pagesDropdown">
					<a class="dropdown-item" th:href="@{/admin/category/periods}">
						<i class="fas fa-history"></i> Học kỳ niên khóa
					</a>
					<a class="dropdown-item" th:href="@{/admin/category/labs}">
						<i class="fas fa-building"></i> Phòng
					</a>
					<a class="dropdown-item" th:href="@{/admin/category/tools}">
						<i class="fas fa-wrench"></i> Phần mềm
					</a>
					<a class="dropdown-item" th:href="@{/admin/category/subjects}">
						<i class="fas fa-book"></i> Môn học
					</a>
					<a class="dropdown-item" th:href="@{/admin/category/departments}">
						<i class="fas fa-university"></i> Bộ môn
					</a>
					<a class="dropdown-item" th:href="@{/admin/category/shifts}">
						<i class="fas fa-sun"></i> Buổi học
					</a>
					<a class="dropdown-item" th:href="@{/admin/category/users}">
						<i class="fas fa-user"></i> Giảng viên
					</a>
				</div>
			</li>
		</ul>
		<div id="content-wrapper">	
	        <!-- Sticky Footer -->
	        <footer class="sticky-footer" th:fragment="appFooter">
	          <div class="container my-auto">
	            <div class="copyright text-center my-auto">
				  <span>Khoa Công nghệ Thông tin & Truyền thông </span>
				  <span class="d-none d-sm-inline">- </span>
				  <span class="d-inline d-sm-none"><br></span>
				  <span>Trường Đại học Cần Thơ</span>
	            </div>
	          </div>
	        </footer>
	      </div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="appLogoutModal">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Bạn muốn đăng xuất khỏi phiên làm việc
					hiện tại ?</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Hủy</button>
					<form th:action="@{/logout}" method="POST">
						<input type="submit" class="btn btn-danger" value="Đăng xuất" />
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>