body{
	background-color: #d9d9d9;
}
.header{
	margin-top: 15px;
}
.menu{
	background-color: #1a82f7;
    background: -moz-linear-gradient(bottom, #80bfff 30%, #0059b3 70%);
    background: -o-linear-gradient(bottom, #80bfff 30%, #0059b3 70%);
    background: -ms-linear-gradient(bottom, #80bfff 30%, #0059b3 70%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #80bfff),color-stop(0.7, #0059b3));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}

.footer{
	background-color: #1a82f7;
    background: -moz-linear-gradient(bottom, #0059b3 30%, #80bfff 70%);
    background: -o-linear-gradient(bottom, #0059b3 30%, #80bfff 70%);
    background: -ms-linear-gradient(bottom, #0059b3 30%, #80bfff 70%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #0059b3),color-stop(0.7, #80bfff));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    text-align:center;
    line-height:35px;
    font-weight:bold;
}

.menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}

/* dòng lệnh này để căn cho menu nằm ngang*/
.menu ul li{
display:inline;
}
 
.menu ul a{
text-decoration:none;
padding-left: 5px;
padding-right: 5px;
float:left;
color:#fff;
font-weight:bold;
text-align:center;
line-height:35px;
border-right: 1px solid #fff;
}