/*Custom menubar fron bootstrap*/
.menubar {
  background-color: rgb(67, 150, 202);
  border-color: rgb(67, 150, 202);
  color: white;
  padding: 0px;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 200px;
}

.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #e6e6e6;
  background-color: #225677;
}
.navbar-inverse .navbar-text {
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #e6e6e6;
  background-color: #225677;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #e6e6e6;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: #225677;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #e6e6e6;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #e6e6e6;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
    background-color: #225677;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e6e6e6;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: #225677;
  }
}
.navbar-inverse .navbar-link {
  color: white;
}
.navbar-inverse .navbar-link:hover {
  color: #e6e6e6;
}
.navbar-inverse .btn-link {
  color: white;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #e6e6e6;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}

.navbar-collapse {
  padding-left: 0px;
}

.navbar {
    border-radius: 0px;
}
/*End Custom menubar fron bootstrap*/

.marin-bot-1px{
	margin-bottom: 1px;
}

body{
	padding-top: 10px;
	background-color: #b3c6ff;
}

th {
	text-align: center;
}

tr {
  text-align: center;
}

#footer {
	background-color: #809fff;
}

.borderless td, .borderless th {
    border: none;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.blank{
  margin-bottom: 10px;
}

.panel {
  border-radius: 0px;
}

.row {
  margin-top: 10px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/*custom well*/
.white-well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.white-well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}
/*end custom well*/

/*anh nen banner*/
#bg-banner {
  width: 100%;
  height: 130px;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  background: #096ecd url("/img/banner.png") repeat-y scroll 0px 0px / 100% 111%;
}
#banner {
  position: relative;
  width: 981px;
  height: 130px;
  margin: 0px auto;
}
/*end anh nen banner*/

.bg-xam{
  background-color: #e3e3e3;
}

.bg-trang{
  background-color: #fff;
}

/*dinh nghia class ẩn*/
.my-hidden {
  display: none;
}


/*css not found page*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/*login tren header*/
#header-login {
    position: relative;
    line-height: 1.7em;
    font-size: 100%;
    margin: 0.3em 0.3em 0.3em 0;
    right: 0.3em;
    float: right;
    text-align: right;
    color: white ;
}
