html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

#lm-site-container {
  padding-top: 50px;
}

#loading-indicator {
  background:none;
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  z-index:10000;
}

#lm-scheduler .fc-timeline-event .fc-content {
  white-space: pre-wrap;
}

#lm-scheduler .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: rgb(245, 245, 245);
}

#lm-scheduler .fc-head .fc-content th.fc-widget-header {
  text-transform: capitalize;
  font-weight: normal;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu {
	max-height:400px;
	overflow-y:auto;
}