<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta th:include="fragments/standard :: appHead" th:remove="tag"/>
    <link th:href="@{/css/customize.css}" rel="stylesheet" />
  </head>

  <body id="page-top" class="sidebar-toggled">

    <nav th:replace="fragments/standard :: appNav"></nav>
    
    <div id="wrapper">

      <ul th:replace="fragments/standard :: appSidebar"></ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb d-none d-sm-flex">
            <li class="breadcrumb-item"><a th:href="${'/admin'}">HTQL Phòng thực hành</a></li>
            <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
            <li class="breadcrumb-item"><a th:href="${'/admin/category/labs'}">Phòng</a></li>
            <li class="breadcrumb-item active">Cập nhật</li>
          </ol>

          <div class="card mb-3">
            <div class="card-header">
              <i class="far fa-edit"></i>
              Cập nhật phòng
              <div id="add-control-box" class="float-right">
              	<a th:href="@{/admin/category/labs}" class="btn btn-sm btn-secondary">Quay lại</a>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
		        <form id="formLab" class="form-horizontal" th:object="${lab}" th:action="@{/admin/category/labs}" method="post">
		            <div class="form-group">
		                <div class="col-sm-10">
		                    <input type="hidden" class="form-control" th:field="*{id}"/>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-sm-2 control-label">Tên phòng:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{name}" required/>
		                </div>
		            </div>
		            <div class="form-group row">
					    <label for="department-selection" class="col-sm-2 control-label">Bộ môn:</label>
					    <div class="col-sm-10">
						    <select class="form-control" id="department-selection" th:field="*{department}" required>
						      <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
						    </select>
					    </div>
					</div>
					<div class="form-group row">
						<label for="tool-selection" class="col-sm-2 control-label">Phần mềm hỗ trợ:</label>
				      	<div class="col-sm-10">
							  <div style="height:140px;overflow:scroll;">
								  <div class="form-check form-check-inline col-lg-3" th:each="tool : ${tools}">
								    <input class="form-check-input" type="checkbox" th:field="*{tools}" th:value="${tool.id}" />
								    <label class="form-check-label" th:for="${#ids.prev('tools')}" th:text="${tool.name}"></label>
								  </div>
							  </div>
				      	</div>
					</div>
					<div class="form-group row">
		                <label class="col-sm-2 control-label">Số chỗ ngồi:</label>
		                <div class="col-sm-10">
		                    <input type="number" class="form-control" th:field="*{capacity}" required min="1"/>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-sm-2 control-label">Dung lượng RAM:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{ramCapacity}" required min="1"/>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-sm-2 control-label">Dung lượng ổ cứng:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{diskCapacity}" required min="1"/>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-sm-2 control-label">CPU:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{cpu}" required/>
		                </div>
		            </div>	
		            <div class="form-group row">
		                <label class="col-sm-2 control-label">GPU:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{gpu}" required/>
		                </div>
		            </div>
		            <input type="submit" id="formLabTrigger" style="display:none;"/>
		        </form>
		    </div>
            </div>
            <div class="card-footer small text-muted">
            	<div id="form-control-box" class="float-right">
            		<button type="submit" id="submitForm" class="btn btn-sm btn-primary">Lưu lại</button>
            	</div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer th:replace="fragments/standard :: appFooter"></footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragments/standard :: appLogoutModal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/lm-additional-methods.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/localization/messages_vi.js}"></script>
    
    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    
    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin.min.js}"></script>
    <script>
	    $(document).ready(function() {    	
	    	$("#submitForm").click(function() {
				$("#formLabTrigger").click();
			});

			$('#formLab').validate({
				rules: {
					name: {
						normalizer: function(value) {
							return $.trim(value);
					    }
					},
					cpu: {
						normalizer: function(value) {
							return $.trim(value);
					    }
					},
					gpu: {
						normalizer: function(value) {
							return $.trim(value);
					    }
					}
				},
				messages: {
					capacity: {
						min: "Số chỗ ngồi lớn hơn hoặc bằng {0}."
					},
					ramCapacity: {
						min: "Dung lượng ram lớn hơn hoặc bằng {0}."
					},
					diskCapacity: {
						min: "Dung lượng ổ cứng lớn hơn hoặc bằng {0}."
					}
				},
				onkeyup: false,
				errorElement : "div",
				errorPlacement : function(error, element) {
					error.addClass('invalid-feedback')
					error.insertAfter(element);
				},
				highlight : function(element, errorClass) {
					$(element).addClass('is-invalid');
				},
				unhighlight : function(element, errorClass) {
					$(element).removeClass('is-invalid');
				}
			});
	    });
    </script>
  </body>

</html>
